
.button {
	-fx-background-radius: 1px;
	-fx-background-color: #888, -t-button-color;
	-fx-background-insets: 0, 1px;
}

.button:hover,
.button:focused {
	-fx-background-color: #888, derive(-t-button-color, 30%);
}

.button:armed {
	-fx-background-color: #888, derive(-t-button-color, -10%);
}

.button:disabled {
	-fx-opacity: 100%;
	-fx-background-color: #888, derive(-t-button-color, -5%);
}

.multi-button {
}

.multi-button.left {
	-fx-background-radius: 1px 0 0 1px;
	-fx-background-insets: 0, 1px 0 1px 1px;
}

.multi-button.middle {
	-fx-background-radius: 0;
	-fx-background-insets: 0, 1px 0 1px 1px;
}

.multi-button.right {
	-fx-background-radius: 0 1px 1px 0;
}

.table-edit-button {
	-fx-min-width: 100px;
	-fx-min-height: 35px;
}

.table-edit-button.half {
	-fx-min-width: 50px;
	-fx-max-height: -t-max-value;
}

.distribution-button {
	-fx-min-width: 100px;
	-fx-min-height: 35px;
}

.distribution-button.half {
	-fx-min-width: 50px;
	-fx-max-height: -t-max-value;
}