
#menuButtonBar {
	-fx-background-color: #888, #dfdfdf;
	-fx-background-insets: 0, 0 0 1px 0;
}

.menu-button {
	-fx-min-width: 60px;
	-fx-min-height: 35px;
}

#menuButtonBar,
#secondaryMenuButtonBar,
#breadcrumbContainer {
	-fx-padding: 3px 3px 4px 3px;
}

#breadcrumbContainer {
	-fx-background-color: #888, #d4d4d4;
	-fx-background-insets: 0, 0 0 1px 0;
}

.breadcrumb-button {
	-fx-min-width: 0;
	-fx-pref-width: 0;
	-fx-min-height: 35px;
	-fx-max-width: -t-max-value;
	-fx-margin: -20px 0px 0px 0px;
}

.breadcrumb-button.left {
	-fx-shape: "M 0,50 0,0 l 98.5,0 L 100,25 98.5,50 z";
}

.breadcrumb-button.middle {
	-fx-shape: "M 0,50 1.5,25 0,0 l 98.5,0 L 100,25 98.5,50 z";
}

.breadcrumb-button.right {
	-fx-shape: "M 0,50 1.5,25 0,0 l 100,0 L 100,50 z";
}

.table-edit-button-container {

}

.pairing-node {
	-fx-background-color: #888, #eee;
	-fx-background-insets: 0, 1px;
	-fx-background-radius: 1px;
	-fx-padding: 5px;
}

.pairing-node:selected {
	-fx-background-color: #888, #ddd, #ccc;
	-fx-background-insets: 0, 1px, 2px;
}

.time {
	-fx-font-family: "Roboto Light";
	-fx-font-size: 42;
}

.timer-button {
	-fx-padding: 10px 10px 10px 10px;
	-fx-pref-width: 20;
	-fx-pref-height: 20;
}