
.icon-pane {
	-t-icon-width: 28px;
	-t-icon-height: 28px;
	-fx-min-width: -t-icon-width;
	-fx-max-width: -t-icon-width;
	-fx-min-height: -t-icon-height;
	-fx-max-height: -t-icon-height;
	-fx-background-color: -t-icon-color;
}
.icon-pane:disabled {
	-fx-opacity: 100%;
	-fx-background-color: derive(-t-icon-color, 100%);
}

.icon-add {
	-fx-shape: "M38 26H26v12h-4V26H10v-4h12V10h4v12h12v4z";
}
.icon-add.half {
	-t-icon-width: 14px;
	-t-icon-height: 14px;
}

.icon-remove {
	-t-icon-width: 28px;
	-t-icon-height: 4px;
	-fx-shape: "M38 26H10v-4h28v4z";
}
.icon-remove.half {
	-t-icon-width: 14px;
	-t-icon-height: 2px;
}

.icon-register {
	-t-icon-width: 44px;
	-t-icon-height: 36px;
	-fx-shape: "M10 8c1.66 0 2.99-1.34 2.99-3s-1.33-3-2.99-3c-1.66 0-3 1.34-3 3s1.34 3 3 3zm-6 2v-2h2v-2h-2v-2h-2v2h-2v2h2v2h2zm6 0c-2.33 0-7 1.17-7 3.5v2.5h14v-2.5c0-2.33-4.67-3.5-7-3.5z";
}
.icon-register.half {
	-t-icon-width: 22px;
	-t-icon-height: 18px;
}

.icon-unregister {
	-t-icon-width: 54px;
	-t-icon-height: 36px;
	-fx-shape: "m 15,12 c 2.21,0 4,-1.79 4,-4 0,-2.21 -1.79,-4 -4,-4 -2.21,0 -4,1.79 -4,4 0,2.21 1.79,4 4,4 z m -14,-2 0,2 8,0 0,-2 z m 14,4 c -2.67,0 -8,1.34 -8,4 l 0,2 16,0 0,-2 c 0,-2.66 -5.33,-4 -8,-4 z";
}
.icon-unregister.half {
	-t-icon-width: 26px;
	-t-icon-height: 18px;
}

.icon-register-all {
	-t-icon-width: 44px;
	-t-icon-height: 36px;
	-fx-shape: "M9 8c1.11 0 2-.9 2-2s-.89-2-2-2c-1.1 0-2 .9-2 2s.9 2 2 2zm4 0c1.11 0 2-.9 2-2s-.89-2-2-2c-.36 0-.69.1-.98.27.3.51.48 1.1.48 1.73s-.18 1.22-.48 1.73c.29.17.63.27.98.27zm-4 1.2c-1.67 0-5 .83-5 2.5v1.3h10v-1.3c0-1.67-3.33-2.5-5-2.5zm-4-2.2h-2v-2h-1v2h-2v1h2v2h1v-2h2v-1zm9.23 2.31c.75.6 1.27 1.38 1.27 2.39v1.3h2.5v-1.3c0-1.31-2.07-2.11-3.77-2.39z";
}
.icon-register-all.half {
	-t-icon-width: 32px;
	-t-icon-height: 18px;
}

.icon-distribute {
	-t-icon-width: 30px;
	-t-icon-height: 30px;
	-fx-shape: "M28 8l4.59 4.59-5.76 5.75 2.83 2.83 5.75-5.76 4.59 4.59v-12zm-8 0h-12v12l4.59-4.59 9.41 9.42v15.17h4v-16.83l-10.59-10.58z";
}
.icon-distribute.half {
	-t-icon-width: 15px;
	-t-icon-height: 15px;
}

.icon-merge {
	-t-icon-width: 30px;
	-t-icon-height: 30px;
	-fx-shape: "M 17,3.5 18.41,4.91 15,8.32 13.59,6.91 17,3.5 z M 7.5,15.91 H 11 V 10.32 L 5.59,4.91 7,3.5 l 6,6 v 6.41 h 3.5 l -4.5,4.5 -4.5,-4.5 z";
}
.icon-merge.half {
	-t-icon-width: 15px;
	-t-icon-height: 15px;
}

.icon-execute {
	-t-icon-width: 40px;
	-t-icon-height: 40px;
	-fx-shape: "M10 16.5l6-4.5-6-4.5v9zM12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z";
}
.icon-execute.half {
	-t-icon-width: 20px;
	-t-icon-height: 20px;
}

.icon-play {
	-t-icon-width: 40px;
	-t-icon-height: 40px;
	-fx-shape: "M8 5v14l11-7z";
}
.icon-play.half {
	-t-icon-width: 20px;
	-t-icon-height: 20px;
}
.icon-pause {
	-t-icon-width: 40px;
	-t-icon-height: 40px;
	-fx-shape: "M6 19h4V5H6v14zm8-14v14h4V5h-4z";
}
.icon-pause.half {
	-t-icon-width: 20px;
	-t-icon-height: 20px;
}
.icon-reset {
	-t-icon-width: 40px;
	-t-icon-height: 40px;
	-fx-shape: "M12 5V1L7 6l5 5V7c3.31 0 6 2.69 6 6s-2.69 6-6 6-6-2.69-6-6H4c0 4.42 3.58 8 8 8s8-3.58 8-8-3.58-8-8-8z";
}
.icon-reset.half {
	-t-icon-width: 20px;
	-t-icon-height: 20px;
}

.icon-copy {
	-t-icon-width: 36px;
	-t-icon-height: 40px;
	-fx-shape: "M16 1h-12c-1.1 0-2 .9-2 2v14h2v-14h12v-2zm3 4h-11c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h11c1.1 0 2-.9 2-2v-14c0-1.1-.9-2-2-2zm0 16h-11v-14h11v14z";
}
.icon-copy.half {
	-t-icon-width: 18px;
	-t-icon-height: 20px;
}

.icon-folder-open {
	-t-icon-width: 40px;
	-t-icon-height: 32px;
	-fx-shape: "M40 12H24l-4-4H8c-2.21 0-3.98 1.79-3.98 4L4 36c0 2.21 1.79 4 4 4h32c2.21 0 4-1.79 4-4V16c0-2.21-1.79-4-4-4zm0 24H8V16h32v20z";
}
.icon-folder-open.half {
	-t-icon-width: 20px;
	-t-icon-height: 16px;
}

.icon-edit {
	-t-icon-width: 36px;
	-t-icon-height: 36px;
	-fx-shape: "M6 34.5V42h7.5l22.13-22.13-7.5-7.5L6 34.5zm35.41-20.41c.78-.78.78-2.05 0-2.83l-4.67-4.67c-.78-.78-2.05-.78-2.83 0l-3.66 3.66 7.5 7.5 3.66-3.66z";
}
.icon-edit.half {
	-t-icon-width: 18px;
	-t-icon-height: 18px;
}

.icon-settings {
	-t-icon-width: 39px;
	-t-icon-height: 40px;
	-fx-shape: "M38.86 25.95c.08-.64.14-1.29.14-1.95s-.06-1.31-.14-1.95l4.23-3.31c.38-.3.49-.84.24-1.28l-4-6.93c-.25-.43-.77-.61-1.22-.43l-4.98 2.01c-1.03-.79-2.16-1.46-3.38-1.97L29 4.84c-.09-.47-.5-.84-1-.84h-8c-.5 0-.91.37-.99.84l-.75 5.3c-1.22.51-2.35 1.17-3.38 1.97L9.9 10.1c-.45-.17-.97 0-1.22.43l-4 6.93c-.25.43-.14.97.24 1.28l4.22 3.31C9.06 22.69 9 23.34 9 24s.06 1.31.14 1.95l-4.22 3.31c-.38.3-.49.84-.24 1.28l4 6.93c.25.43.77.61 1.22.43l4.98-2.01c1.03.79 2.16 1.46 3.38 1.97l.75 5.3c.08.47.49.84.99.84h8c.5 0 .91-.37.99-.84l.75-5.3c1.22-.51 2.35-1.17 3.38-1.97l4.98 2.01c.45.17.97 0 1.22-.43l4-6.93c.25-.43.14-.97-.24-1.28l-4.22-3.31zM24 31c-3.87 0-7-3.13-7-7s3.13-7 7-7 7 3.13 7 7-3.13 7-7 7z";
}
.icon-settings.half {
	-t-icon-width: 20px;
	-t-icon-height: 20px;
}

.icon-language {
	-t-icon-width: 40px;
	-t-icon-height: 40px;
	-fx-shape: "M23.99 4C12.94 4 4 12.95 4 24s8.94 20 19.99 20C35.04 44 44 35.05 44 24S35.04 4 23.99 4zm13.85 12h-5.9c-.65-2.5-1.56-4.9-2.76-7.12 3.68 1.26 6.74 3.81 8.66 7.12zM24 8.07c1.67 2.4 2.97 5.07 3.82 7.93h-7.64c.85-2.86 2.15-5.53 3.82-7.93zM8.52 28C8.19 26.72 8 25.38 8 24s.19-2.72.52-4h6.75c-.16 1.31-.27 2.64-.27 4 0 1.36.11 2.69.28 4H8.52zm1.63 4h5.9c.65 2.5 1.56 4.9 2.76 7.13-3.68-1.26-6.74-3.82-8.66-7.13zm5.9-16h-5.9c1.92-3.31 4.98-5.87 8.66-7.13-1.2 2.23-2.11 4.63-2.76 7.13zM24 39.93c-1.66-2.4-2.96-5.07-3.82-7.93h7.64c-.86 2.86-2.16 5.53-3.82 7.93zM28.68 28h-9.36c-.19-1.31-.32-2.64-.32-4 0-1.36.13-2.69.32-4h9.36c.19 1.31.32 2.64.32 4 0 1.36-.13 2.69-.32 4zm.51 11.12c1.2-2.23 2.11-4.62 2.76-7.12h5.9c-1.93 3.31-4.99 5.86-8.66 7.12zM32.72 28c.16-1.31.28-2.64.28-4 0-1.36-.11-2.69-.28-4h6.75c.33 1.28.53 2.62.53 4s-.19 2.72-.53 4h-6.75z";
}
.icon-language.half {
	-t-icon-width: 20px;
	-t-icon-height: 20px;
}

.icon-key {
	-t-icon-width: 44px;
	-t-icon-height: 24px;
	-fx-shape: "M25.3 20c-1.65-4.66-6.08-8-11.3-8-6.63 0-12 5.37-12 12s5.37 12 12 12c5.22 0 9.65-3.34 11.3-8H34v8h8v-8h4v-8H25.3zM14 28c-2.21 0-4-1.79-4-4s1.79-4 4-4 4 1.79 4 4-1.79 4-4 4z";
}
.icon-key.half {
	-t-icon-width: 22px;
	-t-icon-height: 12px;
}

.icon-close {
	-fx-shape: "M38 12.83L35.17 10 24 21.17 12.83 10 10 12.83 21.17 24 10 35.17 12.83 38 24 26.83 35.17 38 38 35.17 26.83 24z";
}
.icon-close.half {
	-t-icon-width: 14px;
	-t-icon-height: 14px;
}

.icon-save {
	-t-icon-width: 36px;
	-t-icon-height: 36px;
	-fx-shape: "M34 6H10c-2.21 0-4 1.79-4 4v28c0 2.21 1.79 4 4 4h28c2.21 0 4-1.79 4-4V14l-8-8zM24 38c-3.31 0-6-2.69-6-6s2.69-6 6-6 6 2.69 6 6-2.69 6-6 6zm6-20H10v-8h20v8z";
}
.icon-save.half {
	-t-icon-width: 18px;
	-t-icon-height: 18px;
}

.icon-undo {
	-t-icon-width: 41px;
	-t-icon-height: 18px;
	-fx-shape: "M25 16c-5.29 0-10.11 1.97-13.8 5.2L4 14v18h18l-7.23-7.23C17.54 22.44 21.09 21 25 21c7.09 0 13.09 4.61 15.19 11l4.73-1.56C42.17 22.06 34.3 16 25 16z";
}
.icon-undo.half {
	-t-icon-width: 20px;
	-t-icon-height: 9px;
}

.icon-redo {
	-t-icon-width: 41px;
	-t-icon-height: 18px;
	-fx-shape: "M36.79 21.2C33.11 17.97 28.29 16 23 16c-9.3 0-17.17 6.06-19.92 14.44L7.81 32c2.1-6.39 8.1-11 15.19-11 3.91 0 7.46 1.44 10.23 3.77L26 32h18V14l-7.21 7.2z";
}
.icon-redo.half {
	-t-icon-width: 20px;
	-t-icon-height: 9px;
}

.icon-export {
	-t-icon-width: 32px;
	-t-icon-height: 42px;
	-fx-shape: "M 6.90625 3.09375 C 5.7403472 3.09375 4.78125 4.0554209 4.78125 5.21875 L 4.78125 18.78125 C 4.78125 19.94458 5.7403472 20.90625 6.90625 20.90625 L 17.09375 20.90625 C 18.259653 20.90625 19.21875 19.947153 19.21875 18.78125 L 19.21875 8.59375 L 19.21875 8.40625 L 19.09375 8.3125 L 14 3.21875 L 13.875 3.09375 L 13.6875 3.09375 L 6.90625 3.09375 z M 7.03125 4.15625 L 12.375 4.15625 L 12.375 9.90625 L 18.1875 9.90625 L 18.1875 18.625 C 18.1875 19.308845 17.652594 19.84375 16.96875 19.84375 L 7.03125 19.84375 C 6.3474058 19.84375 5.8125 19.311349 5.8125 18.625 L 5.8125 5.375 C 5.8125 4.6886507 6.3474058 4.15625 7.03125 4.15625 z M 13.5 4.15625 L 18.1875 8.84375 L 13.5 8.84375 L 13.5 4.15625 z M 7.21875 14.9375 L 7.21875 18.625 L 8.09375 18.625 L 8.09375 17.375 L 8.71875 17.375 C 9.1565974 17.375001 9.5242855 17.252712 9.78125 17.03125 C 10.038209 16.808101 10.156247 16.519718 10.15625 16.15625 C 10.156247 15.794477 10.038209 15.504404 9.78125 15.28125 C 9.5242855 15.056412 9.1565974 14.937504 8.71875 14.9375 L 7.21875 14.9375 z M 10.65625 14.9375 L 10.65625 18.625 L 11.96875 18.625 C 12.403217 18.625 12.770034 18.50107 13.0625 18.21875 C 13.35496 17.93643 13.499997 17.569613 13.5 17.125 L 13.5 16.46875 C 13.499997 16.025831 13.35496 15.657323 13.0625 15.375 C 12.770034 15.090993 12.403217 14.937504 11.96875 14.9375 L 10.65625 14.9375 z M 14.03125 14.9375 L 14.03125 18.625 L 14.90625 18.625 L 14.90625 17.15625 L 16.375 17.15625 L 16.375 16.5 L 14.90625 16.5 L 14.90625 15.59375 L 16.625 15.59375 L 16.625 14.9375 L 14.03125 14.9375 z M 8.09375 15.59375 L 8.71875 15.59375 C 8.9047074 15.593753 9.0598871 15.645189 9.15625 15.75 C 9.2542989 15.854816 9.3124976 15.992271 9.3125 16.15625 C 9.3124976 16.316854 9.2542989 16.45938 9.15625 16.5625 C 9.0598871 16.663939 8.9047074 16.718752 8.71875 16.71875 L 8.09375 16.71875 L 8.09375 15.59375 z M 11.5 15.59375 L 11.90625 15.59375 C 12.134471 15.593753 12.309017 15.688223 12.4375 15.84375 C 12.565982 15.999282 12.656247 16.213482 12.65625 16.46875 L 12.65625 17.125 C 12.656247 17.381963 12.565979 17.592781 12.4375 17.75 C 12.309017 17.905534 12.134471 17.968751 11.90625 17.96875 L 11.5 17.96875 L 11.5 15.59375 z";
}
.icon-export.half {
	-t-icon-width: 20px;
	-t-icon-height: 26px;
}

.icon-lock {
	-t-icon-width: 32px;
	-t-icon-height: 42px;
	-fx-shape: "M36 16h-2v-4c0-5.52-4.48-10-10-10S14 6.48 14 12v4h-2c-2.21 0-4 1.79-4 4v20c0 2.21 1.79 4 4 4h24c2.21 0 4-1.79 4-4V20c0-2.21-1.79-4-4-4zM24 5.8c3.42 0 6.2 2.78 6.2 6.2v4H18v-4h-.2c0-3.42 2.78-6.2 6.2-6.2zM36 40H12V20h24v20zm-12-6c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4z";
}
.icon-lock.half {
	-t-icon-width: 16px;
	-t-icon-height: 21px;
}

.icon-lock-open {
	-t-icon-width: 32px;
	-t-icon-height: 42px;
	-fx-shape: "M24 34c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm12-18h-2v-4c0-5.52-4.48-10-10-10S14 6.48 14 12h3.8c0-3.42 2.78-6.2 6.2-6.2 3.42 0 6.2 2.78 6.2 6.2v4H12c-2.21 0-4 1.79-4 4v20c0 2.21 1.79 4 4 4h24c2.21 0 4-1.79 4-4V20c0-2.21-1.79-4-4-4zm0 24H12V20h24v20z";
}
.icon-lock-open.half {
	-t-icon-width: 16px;
	-t-icon-height: 21px;
}

.icon-arrow-down {
	-t-icon-width: 24px;
	-t-icon-height: 15px;
	-fx-shape: "M14.83 16.42L24 25.59l9.17-9.17L36 19.25l-12 12-12-12z";
}
.icon-arrow-down.half {
	-t-icon-width: 12px;
	-t-icon-height: 7px;
}

.icon-arrow-up {
	-t-icon-width: 24px;
	-t-icon-height: 15px;
	-fx-shape: "M14.83 30.83L24 21.66l9.17 9.17L36 28 24 16 12 28z";
}
.icon-arrow-up.half {
	-t-icon-width: 12px;
	-t-icon-height: 7px;
}

.icon-arrow-left {
	-t-icon-width: 15px;
	-t-icon-height: 24px;
	-fx-shape: "M30.83 32.67l-9.17-9.17 9.17-9.17L28 11.5l-12 12 12 12z";
}
.icon-arrow-left.half {
	-t-icon-width: 7px;
	-t-icon-height: 12px;
}

.icon-arrow-right {
	-t-icon-width: 15px;
	-t-icon-height: 24px;
	-fx-shape: "M17.17 32.92l9.17-9.17-9.17-9.17L20 11.75l12 12-12 12z";
}
.icon-arrow-right.half {
	-t-icon-width: 7px;
	-t-icon-height: 12px;
}

.icon-swap-horizontal {
	-fx-shape: "M13.98 22L6 30l7.98 8v-6H28v-4H13.98v-6zM42 18l-7.98-8v6H20v4h14.02v6L42 18z";
	-t-icon-width: 36px;
	-t-icon-height: 28px;
}
.icon-swap-horizontal.half {
	-t-icon-width: 18px;
	-t-icon-height: 14px;
}

.icon-cancel {
	-fx-shape: "M12 2c-5.53 0-10 4.47-10 10s4.47 10 10 10 10-4.47 10-10-4.47-10-10-10zm5 13.59l-1.41 1.41-3.59-3.59-3.59 3.59-1.41-1.41 3.59-3.59-3.59-3.59 1.41-1.41 3.59 3.59 3.59-3.59 1.41 1.41-3.59 3.59 3.59 3.59z";
	-t-icon-width: 40px;
	-t-icon-height: 40px;
}
.icon-cancel.half {
	-t-icon-width: 20px;
	-t-icon-height: 20px;
}

.icon-finish {
	-fx-shape: "M 6 6 C 3.79 6 2 7.79 2 10 L 2 38 C 2 40.21 3.79 42 6 42 L 42 42 C 44.21 42 46 40.21 46 38 L 46 10 C 46 7.79 44.21 6 42 6 L 6 6 z M 6 9.96875 L 13.125 9.96875 L 13.125 16.71875 L 6 16.71875 L 6 9.96875 z M 20.375 9.96875 L 27.5625 9.96875 L 27.5625 16.71875 L 20.375 16.71875 L 20.375 9.96875 z M 34.8125 9.96875 L 42 9.96875 L 42 16.71875 L 34.8125 16.71875 L 34.8125 9.96875 z M 13.15625 16.71875 L 20.34375 16.71875 L 20.34375 23.90625 L 13.15625 23.90625 L 13.15625 16.71875 z M 27.59375 16.71875 L 34.78125 16.71875 L 34.78125 23.90625 L 27.59375 23.90625 L 27.59375 16.71875 z M 6 23.9375 L 13.125 23.9375 L 13.125 31.125 L 6 31.125 L 6 23.9375 z M 20.375 23.9375 L 27.5625 23.9375 L 27.5625 31.125 L 20.375 31.125 L 20.375 23.9375 z M 34.8125 23.9375 L 42 23.9375 L 42 31.125 L 34.8125 31.125 L 34.8125 23.9375 z M 13.15625 31.15625 L 20.34375 31.15625 L 20.34375 38.03125 L 13.15625 38.03125 L 13.15625 31.15625 z M 27.59375 31.15625 L 34.78125 31.15625 L 34.78125 38.03125 L 27.59375 38.03125 L 27.59375 31.15625 z";
	-t-icon-width: 40px;
	-t-icon-height: 32px;
}
.icon-finish.half {
	-t-icon-width: 20px;
	-t-icon-height: 16px;
}

.icon-info {
	-fx-shape: "M24 4C12.95 4 4 12.95 4 24s8.95 20 20 20 20-8.95 20-20S35.05 4 24 4zm2 30h-4V22h4v12zm0-16h-4v-4h4v4z";
	-t-icon-width: 40px;
	-t-icon-height: 40px;
}
.icon-info.half {
	-t-icon-width: 20px;
	-t-icon-height: 20px;
}
.icon-info.third {
	-t-icon-width: 13px;
	-t-icon-height: 13px;
}

.icon-warning {
	-fx-shape: "M2 42h44L24 4 2 42zm24-6h-4v-4h4v4zm0-8h-4v-8h4v8z";
	-t-icon-width: 40px;
	-t-icon-height: 40px;
}
.icon-warning.half {
	-t-icon-width: 20px;
	-t-icon-height: 20px;
}
.icon-warning.third {
	-t-icon-width: 13px;
	-t-icon-height: 13px;
}

.icon-error {
	-fx-shape: "M24 4C12.96 4 4 12.95 4 24s8.96 20 20 20 20-8.95 20-20S35.04 4 24 4zm2 30h-4v-4h4v4zm0-8h-4V14h4v12z";
	-t-icon-width: 40px;
	-t-icon-height: 40px;
}
.icon-error.half {
	-t-icon-width: 20px;
	-t-icon-height: 20px;
}
.icon-error.third {
	-t-icon-width: 13px;
	-t-icon-height: 13px;
}

.icon-success {
	-fx-shape: "M18 32.34L9.66 24l-2.83 2.83L18 38l24-24-2.83-2.83z";
	-t-icon-width: 35px;
	-t-icon-height: 27px;
}
.icon-success.half {
	-t-icon-width: 18px;
	-t-icon-height: 14px;
}
.icon-success.third {
	-t-icon-width: 12px;
	-t-icon-height: 9px;
}

.icon-victory.left {
	-fx-shape: "M 145.9375 50.71875 C 130.22045 50.524637 122.07809 70.92725 134.0625 67.71875 C 146.4325 64.40575 147.46875 50.8125 147.46875 50.8125 C 146.94637 50.761938 146.4445 50.725012 145.9375 50.71875 z M 119.03125 57.4375 C 109.66835 74.23707 116.95819 88.482638 117.03125 88.625 C 117.02587 88.631347 117.03664 88.649901 117.03125 88.65625 C 117.0266 88.669227 117.00464 88.674504 117 88.6875 C 117 88.6875 133.14672 87.90511 143.0625 71.3125 C 143.0625 71.3125 131.92627 68.443643 123.3125 77.78125 C 127.09941 65.647382 119.03187 57.437328 119.03125 57.4375 z M 101.03125 84.71875 C 95.959301 104.86301 107.49214 117.69343 107.65625 117.875 C 107.6545 117.89606 107.65797 117.9164 107.65625 117.9375 C 107.65625 117.9375 124.3122 112.62444 130.03125 92.5 C 130.03125 92.5 117.60782 92.604526 111.21875 104.78125 C 111.78777 91.023604 101.03125 84.71875 101.03125 84.71875 z M 89.78125 116.15625 C 90.14881 140.51832 107.28125 151.5 107.28125 151.5 C 107.28314 151.51039 107.27935 151.52085 107.28125 151.53125 C 107.28125 151.53125 124.38318 140.5205 124.75 116.15625 C 124.75057 116.15682 110.83852 120.02865 107.28125 135.5625 C 103.73744 119.99757 89.780687 116.15568 89.78125 116.15625 z M 124.28125 145.28125 C 124.28125 145.28125 110.52111 153.3881 111.25 171.03125 C 103.06071 155.37806 87.09375 155.25 87.09375 155.25 C 94.42937 181.05992 115.78125 187.84375 115.78125 187.84375 C 115.87331 187.7423 130.81423 171.2217 124.28125 145.28125 z M 130.75 173.84375 C 130.75 173.84375 118.77554 186.00348 124.3125 204 C 111.49287 190.18648 94.937742 194.49922 94.9375 194.5 C 109.71005 219.21305 133.71875 220.34375 133.71875 220.34375 C 133.71875 220.34375 144.76617 198.9925 130.75 173.84375 z M 147.09375 201 C 147.09375 201 138.15414 216.74742 148.78125 233.6875 C 131.83329 223.03974 116.03125 232 116.03125 232 C 137.90039 253.21907 162.73864 247.88003 162.90625 247.84375 C 162.91241 247.84801 162.93134 247.83949 162.9375 247.84375 C 162.97377 247.67614 168.31281 222.86914 147.09375 201 z M 172.25 223.21875 C 172.24922 223.21894 165.73601 241.63594 180.25 257.59375 C 160.27481 249.38733 145.18828 261.81231 145.1875 261.8125 C 172.369 280.23926 197.75 269.84375 197.75 269.84375 C 197.75 269.84375 198.86163 242.45595 172.25 223.21875 z";
	-t-icon-width: 150px;
	-t-icon-height: 300px;
}
.icon-victory.right {
	-fx-shape: "m 303.55896,102.71216 c 15.71705,-0.19411 23.85941,20.2085 11.875,17 -12.37,-3.313 -13.40625,-16.90625 -13.40625,-16.90625 0.52238,-0.0506 1.02425,-0.0875 1.53125,-0.0937 z m 26.90625,6.71875 c 9.3629,16.79957 2.07306,31.04514 2,31.1875 0.005,0.006 -0.005,0.0249 0,0.0312 0.005,0.013 0.0266,0.0183 0.0312,0.0312 0,0 -16.14672,-0.78239 -26.0625,-17.375 0,0 11.13623,-2.86886 19.75,6.46875 -3.78691,-12.13387 4.28063,-20.34392 4.28125,-20.34375 z m 18,27.28125 c 5.07195,20.14426 -6.46089,32.97468 -6.625,33.15625 0.002,0.0211 -0.002,0.0414 0,0.0625 0,0 -16.65595,-5.31306 -22.375,-25.4375 0,0 12.42343,0.10453 18.8125,12.28125 -0.56902,-13.75764 10.1875,-20.0625 10.1875,-20.0625 z m 11.25,31.4375 c -0.36756,24.36207 -17.5,35.34375 -17.5,35.34375 -0.002,0.0104 0.002,0.0208 0,0.0312 0,0 -17.10193,-11.01075 -17.46875,-35.375 -5.7e-4,5.7e-4 13.91148,3.8724 17.46875,19.40625 3.54381,-15.56493 17.50056,-19.40682 17.5,-19.40625 z m -34.5,29.125 c 0,0 13.76014,8.10685 13.03125,25.75 8.18929,-15.65319 24.15625,-15.78125 24.15625,-15.78125 -7.33562,25.80992 -28.6875,32.59375 -28.6875,32.59375 -0.0921,-0.10145 -15.03298,-16.62205 -8.5,-42.5625 z m -6.46875,28.5625 c 0,0 11.97446,12.15973 6.4375,30.15625 12.81963,-13.81352 29.37476,-9.50078 29.375,-9.5 -14.77255,24.71305 -38.78125,25.84375 -38.78125,25.84375 0,0 -11.04742,-21.35125 2.96875,-46.5 z m -16.34375,27.15625 c 0,0 8.93961,15.74742 -1.6875,32.6875 16.94796,-10.64776 32.75,-1.6875 32.75,-1.6875 -21.86914,21.21907 -46.70739,15.88003 -46.875,15.84375 -0.006,0.004 -0.0251,-0.004 -0.0312,0 -0.0363,-0.16761 -5.37531,-24.97461 15.84375,-46.84375 z m -25.15625,22.21875 c 7.8e-4,1.9e-4 6.51399,18.41719 -8,34.375 19.97519,-8.20642 35.06172,4.21856 35.0625,4.21875 -27.1815,18.42677 -52.5625,8.03125 -52.5625,8.03125 0,0 -1.11163,-27.3878 25.5,-46.625 z";
	-t-icon-width: 150px;
	-t-icon-height: 300px;
}
