
.multi-button-container {
	-fx-max-width: -t-max-value;
}

.menu-button-container {
	-fx-min-width: 600px;
	-fx-max-width: 1000px;
}

.vertical-seperator {
	-fx-min-height: 1px;
	-fx-background-color: #444;
}

.menu-button {
	-fx-min-height: 60pt;
	-fx-max-height: 60pt;
	-fx-max-width: -t-max-value;
}

.button-heading {
	-fx-font-family: "Roboto";
	-fx-alignment: center;
	-fx-max-width: -t-max-value;
	-fx-padding: 0 0 2pt 0;
	-fx-font-size: 16pt;
}

.button-description {
	-fx-font-family: "Roboto";
	-fx-min-width: 0;
	-fx-pref-width: 0;
	-fx-alignment: center;
	-fx-max-width: -t-max-value;
	-fx-padding: 1pt 0 2pt 0;
	-fx-font-size: 11pt;
}

.button-explanation {
	-fx-font-family: "Roboto Light";
	-fx-max-width: -t-max-value;
	-fx-padding: 2pt 0 0 0;
	-fx-font-size: 11pt;
	-fx-wrap-text: true;
	-fx-text-alignment: justify;
}

#eventButtonsLeft,
#eventButtonsRight {
	-fx-min-width: 0;
	-fx-pref-width: 0;
	-fx-max-width: -t-max-value;
}
