
@import url(icons.css);
@import url(fonts.css);
@import url(buttons.css);

* {
	-t-max-value: 17976931348623157063305520677714305623012364024923650195478;
	-t-button-color: #eee;
	-t-icon-color: #222;
	-fx-font-smoothing-type: gray;
}

.panel {
	-fx-max-width: -t-max-value;
	-fx-max-height: -t-max-value;
}

.main-window {
	-fx-min-width: 640;
	-fx-min-height: 480;
	-fx-max-width: -t-max-value;
	-fx-max-height: -t-max-value;
	-fx-prev-width: 900;
	-fx-background-color: #f00;
}

.root {
	-fx-background-color: #d8d8d8;
	-fx-min-width: 640px;
	-fx-min-height: 480px;
}

.heading {
	-fx-font-family: "Roboto Slab";
	-fx-font-weight: bold;
	-fx-font-size: 30;
}

.sub-heading {
	-fx-font-family: "Roboto Slab";
	-fx-font-weight: bold;
	-fx-font-size: 20;
}

.score-heading {
	-fx-font-size: 15;
	-fx-font-family: "Roboto Slab";
	-fx-font-weight: bold;
}

.pairing-score-dialog .table .table-cell {
	-fx-alignment: CENTER;
}
