
@import url(icons.css);
@import url(fonts.css);
@import url(buttons.css);

* {
	-t-max-value: 17976931348623157063305520677714305623012364024923650195478;
	-t-button-color: #eee;
	-t-icon-color: #222;
	-fx-font-smoothing-type: gray;
}

.main-window {
	-fx-max-width: -t-max-value;
	-fx-max-height: -t-max-value;
	-fx-prev-width: 900;
	-fx-background-color: #f00;
}

.root {
	-fx-background-color: #d8d8d8;
}

.heading {
	-fx-font-family: "Roboto Slab";
	-fx-font-weight: bold;
	-fx-font-size: 30;
}
